# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Sonqo\Desktop\Ntua_Lambda\6_Algorithms_Complexity\1\Transport\.idea/dataSources/
/dataSources.local.xml
