table{
    height: 100px;
    width: 1200px;
    margin: 0px auto;
    zoom: 0.35; /* *! Zoom: 0.60 for Desktop version */
}

h2{
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: grey;
}

td{
    width: 35px;
    height: 150px;
    background: gainsboro;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    color: grey;  
}

#winner{
    font-size: 30px;
    color: lightgreen;
}

td:hover{
    cursor: pointer;
}