table{
    width: 45%;
    margin: 0px auto;
}

h2{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: grey;
}

td{
    width: 30px;
    height: 120px;
    background: gainsboro;
}

#red{
    background: lightcoral;
}

#blue{
    background: lightblue;
}