*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    background: black url("https://i.pinimg.com/originals/e3/c0/ff/e3c0ff0dc4454f2ed5d55b1a66a8401d.jpg") no-repeat bottom right;
    background-size: 512px 512px;
    padding:0;
    margin:0;
    font-family: "Courier New";
    font-weight: bold;
    color: #f4f4f4;
}

form {
    max-width: 480px;
    margin: 50px auto;
    padding: 16px;
    border: 1px solid #eaeaea;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 8px 18px;
    height: 48px;
    width: 100%;
    color: #232020;
    box-shadow: 0 1px 0 #232020 inset;
    margin-bottom: 16px;
    transition: all .2s ease;
}

input::placeholder {
    color: #999;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #f4f4f4;
    outline: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 26px;
    color: #f4f4f4;
    background-color: #3a3535;
    border-radius: 4px;
    border: 1px solid #f4f4f4;
    text-align: center;
    width: 100%;
}

fieldset {
    margin-bottom: 28px;
    border: none;
}

label {
    display: block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
}

label.light {
    font-weight: 300;
    display: inline;
}
