body {
    height:100%;
    background: repeating-linear-gradient(#f4f4f4, #ff7315);
}

.menu-container {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
}

.hex-wrapper {
    display: inline-block;
}

.hex-row {
    clear: left;
}

.shift {
    margin-left: 98px;
}

.hexagon {
    float: left;
    position: relative;
    margin: 30px 3px;
    width: 190px;
    height: 110px;
    background-color: #232020;
    background-position: center center;
    z-index: 1;
    /* Text styling */
    line-height: 30px;
    text-align: center;
    top: 100%;
    bottom: 25%;
    font-family: "Courier New";
    font-size: medium;
    font-weight: bold;
    /*letter-spacing: 2px;*/
    color: #3e4444;
    cursor: pointer;
    transition: color 500ms ease, text-shadow 500ms ease, background-color 500ms ease, -webkit-transform 1s ease-in-out;
}

.hexagon:hover {
    background-color: #3a3535;
}

.hexagon h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: #f9f9f9;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.hexagon .face1,
.hexagon .face2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: inherit;
    z-index: -1;
    /* Keeps borders smooth in webkit */
    backface-visibility: hidden;
}

.hexagon .face1:before,
.hexagon .face2:before {
    content: '';
    position: absolute;
    width: 220px;
    height: 220px;
    background: inherit;
}

.hexagon .face1 { transform: rotate(60deg); }
.hexagon .face1:before {
    left: 0;
    transform-origin: left top;
    transform: rotate(-60deg) translate(-110px, 0);
}

.hexagon .face2 { transform: rotate(-60deg); }
.hexagon .face2:before {
    right: 0;
    transform-origin: right top;
    transform: rotate(60deg) translate(110px, 0);
}
