html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}

form {
    display: inline-block;
}

#header{
    vertical-align: center;
    color: rgb(32, 35, 228);
}

input:focus{
    border-color: rgb(32, 35, 228);
}

#textbox{
    font-weight: normal;
    width: 300px;
    color: purple; /* Font color */
}

.container{
    margin-top: 10px;
    font-size: 18px;
    background-color: #f3f3f3;
    border: solid 1px #a1a1a1;
    padding: 10px;
    width: 520px;
    height: 165px;
}

.container label{
    display: inline-block;
    clear: left;
    text-align: left;
    padding-right: 10px;
    width: 150px;
}

.button{
    background-color: white; 
    color: black; 
    border: 2px solid rgb(32, 35, 228);
    transition-duration: 0.4s;
    float: right;
    cursor: pointer;
    height: 32px;
    width: 72px;
    border-radius: 18px;
}

.button:hover{
    background-color: rgb(32, 35, 228);
    color: white;
}